# Homework 3   Myungha Kim 


1. In class, we attempted to create by hand a neural network that computes the XOR function. If this was possible, see if you can simplify the network we built. If it was not possible, give a full explanation why it canâ€™t be done.

It is impossible to create a neural network that computes the XOR function with a single-layered network since it does not have an
activation function. XOR function is not a linearly seperated function which will output "AND" result (an XOR function returns
a true value if the two inputs are not equal and a false value if they are equal). 

In order to make it possible to compute the XOR function, either an activation function should be used to add another layer to 
the network (hidden layer; more complecated one that takes error into account) which can take any number of units in its input, 
hidden and output layers (eventually gives the capability of achieving non-linear separation to the network), or backpropagation 
(running forward and back propagation for numerous times on each input combination until the network can accurately predict the 
expected output of the possible inputs) can be used.

2. Boston Housing

#a.

In [1]:
import pandas as pd
import numpy as np
from keras.datasets import boston_housing


(training_x, training_y), (testing_x, testing_y) = boston_housing.load_data()

n = 102

# a. printing dimensions of the data structures
print("Training set dimensions: ",
      "\ntraining_x count: ", len(training_x),
      "\ntraining_y count: ", len(training_y),
      "\ntraining_x dimension: ", training_x.ndim,
      "\ntraining_y dimension: ", training_y.ndim,
      "\ntraining_x shape: ", training_x.shape,
      "\ntraining_y shape: ", training_y.shape)

print("Testing set dimensions: ",
      "\ntesting_x count: ", len(testing_x),
      "\ntesting_y count: ", len(testing_y),
      "\ntesting_x dimension: ", testing_x.ndim,
      "\ntesting_y dimension: ", testing_y.ndim,
      "\ntesting_x shape: ", testing_x.shape,
      "\ntesting_y shape: ", testing_y.shape)

Using TensorFlow backend.

Training set dimensions:
training_x count:  404
training_y count:  404
training_x dimension:  2
training_y dimension:  1
training_x shape:  (404, 13)
training_y shape:  (404,)
Testing set dimensions:
testing_x count:  102
testing_y count:  102
testing_x dimension:  2
testing_y dimension:  1
testing_x shape:  (102, 13)
testing_y shape:  (102,)

#b.

In [3]:
# b. Constructing a suitable testing, training, and validation set
training_x = training_x[0:n]    # first 102 data from existing training set = training set
training_y = training_y[0:n]

validation_x = training_x[n:]   # rest of the data from existing training set = validation set
validation_y = training_y[n:]

#c.

In [6]:
# c. Creating one new synthetic feature
housing_data = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv", sep=",")

housing_data["Accessability"] = housing_data["rad"] * housing_data["dis"]

housing_data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,Accessability
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,4.0900
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,9.9342
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,9.9342
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,18.1866
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,18.1866

In [7]:
housing_data.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,Accessability
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806,27.190077
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104,18.586553
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000,2.167500
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000,13.272900
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000,21.602800
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000,38.682000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000,98.359200

I added "Accessability" column that can measure the general condition of transportation by factoring in the distance from the employment centers and index of accessibility to the highways. This measurement can be useful indicator for the price range of the units of the area as well as the decision making influence factor for potential buyer with great impact on travel time to work or travel convenience.